/*Estilos para las paginas*/
body {
  font-family: "Montserrat", sans-serif;
}

/*elementos del encabezado*/
.encabezado {
  background-image: url("/imagenes/Header.png");
  background-size: cover;
  background-repeat: no repeat;
  height: 60px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 10000;
  justify-content: space-between;
  padding: 10px;
  top: 0;
  left: 0;
  align-items: center;
  
  
}
/*Estilos para la imagen del encabezado*/
.encabezado img {
  width: 10rem;
  height: auto;
  padding: 10px;
}

.encabezado input {
  width: 45%;
  height: 50px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.626);
  text-align: center;
}

.encabezado input:focus {
  outline: none;
}

.encabezado .menus {
  width: 3rem;
}
.encabezado .menu-usuario {
  display: flex;
  padding: 20px;
}

/*elementos del contenedor*/
.contenedor {
  display: flex;
  padding: 10px;
  margin-top: 80px;
  justify-content: space-between;
}

.estudiantes {
  margin-top: 10px;
  padding: 30px;
}

article {
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
}

.secciones {
  box-shadow: 1px 0 4px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
}

.mas-activos {
  display: flex;
  padding: 10;
}

.seccion-preguntas {
  box-shadow: 1px 0 4px rgb(0, 0, 0, 0.2);
  padding: 50px;
  justify-content: center;
  padding: 10;
  width: 80%;
  margin: 10px;
}

.pregunta {
  border: 1px 0 4px rgb(105, 102, 102);
  padding: 10px;
  width: 100%;
  margin: 10;
  border-radius: 35px;
}

.submit-pregunta {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}

.busqueda {
  display: flex;
}

.busqueda input {
  display: flex;
  width: 100%;
  border: none;
  font-size: 35px;
  margin-left: 10px;
  position: relative;
}
.busqueda input:focus {
 outline: none;
}

.busqueda input::placeholder {
  color: #cacaca;
  font-weight: bold;
}

.boton {
  border-radius: 10px;
  background-color: #7991db;
  color: white;
  border: none;
  width: 8rem;
  height: 3rem;
  font-size: 20px;
  cursor: pointer;
}
.boton:hover {
  background-color: #5b6b9e;
  transition: 0.5s;
}

.modulos {
  position: relative;
  text-align: center;
  display: flexbox;
}
.modulos a {
  text-decoration: none;
  font-weight: bold;
  color: #1a44c0;
}
