/*Estilos para las paginas*/
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body {
  background-image: url("/imagenes/unimayor-transparente.png");
  background-size: 25%; 
  background-position: center; 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  padding: 0 150px; 
  font-size: 15px;
  font-family: "Manrope", sans-serif;
}

/*elementos del encabezado*/
.encabezado {
  background-image: url("/imagenes/Header.png");
  background-size: cover;
  background-repeat: no repeat;
  height: 60px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 10000;
  justify-content: space-between;
  padding: 10px;
  top: 0;
  left: 0;
  align-items: center;
  
  
}
/*Estilos para la imagen del encabezado*/
.encabezado img {
  width: 10rem;
  height: auto;
  padding: 10px;
  margin-left: 10%;
}

.encabezado input {
  width: 45%;
  height: 50px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.626);
  text-align: center;
}

.encabezado input:focus {
  outline: none;
}

.encabezado .menus {
  width: 3rem;
}
.encabezado .menu-usuario {
  display: flex;
  padding: 20px;
}

/*elementos del contenedor*/
.contenedor {
  display: flex;
  padding: 10px;
  margin-top: 80px;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
}

/*box de "estudiante" del contenedor*/
.estudiante{
  background-color: #cacaca2f;
  border-radius: 30px;
  height: 40px;
  display: flex;
  align-items: center;
}
.estudiante img{
  height: 25px;
  float: left;
  margin-left: 30px;  
}

/*Más activos*/
.estudiantes {
  margin-top: 10px;
  padding: 30px;
  border-color: #cacaca;
}
.articulo-estudiante p{
  color: #727272;
}
/*Chulito que aparece al lado de los más activos*/
 /*Falta que se acomode bien, no pude jajajsjasjajaja*/
.check{
  display: inline-flex;
  height: 20px;
}
article {
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
}

.secciones {
  box-shadow: 1px 0 4px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
}

.mas-activos {
  display: flex;
  padding: 10;
  align-items: center;
}

.seccion-preguntas {
  box-shadow: 1px 0 4px rgb(0, 0, 0, 0.2);
  padding: 50px;
  justify-content: center;
  width: 80%;
  margin: 10px;
  border-radius: 30px;
}

.pregunta {
  border: 1px 0 4px rgb(105, 102, 102);
  padding: 10px;
  width: 100%;
  margin: 10;
  border-radius: 35px;
  border-color: #cacaca;
}

.submit-pregunta {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}
.imagenes-pregunta {
  padding-left: 50px;
}

/*Publicaciones*/
.posts{
  display: flex;
  align-items: flex-start;
  margin-top: 5%;
  padding: 2%;
  border-color: #cacaca;
  color: #363636;
}
.post-header{
  font-size: 13px;
  margin-right: 50%;
  justify-content: space-between;
}

.username{
  margin-left: 8%;
}
.fecha{
  display: flex;
  margin-left: auto;
}
.cuerpo-post h3{
  font-size: 25px;
}
.post-footer{
  display: flex;
}
.post-footer button{
  border: none;
  margin: 5px;
}
.busqueda {
  display: flex;
  padding-left: 20px;
}
.busqueda img{
  height: 50px;
}

.busqueda input {
  display: flex;
  width: 100%;
  border: none;
  font-size: 35px;
  margin-left: 10px;
  position: relative;
}
.busqueda input:focus {
 outline: none;
}

.busqueda input::placeholder {
  color: #cacaca;
  font-weight: bold;
}

.boton {
  border-radius: 10px;
  background-color: #7991db;
  color: white;
  border: none;
  width: 8rem;
  height: 3rem;
  font-size: 20px;
  cursor: pointer;
}
.boton:hover {
  background-color: #5b6b9e;
  transition: 0.5s;
}

.modulos {
  position: relative;
  text-align: center;
  display: flexbox;
}

/*Imagen*/
.books{
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.books img{ 
  float: left;
  height: 60px;
}

/*Ciencias básicas*/
#cb {
  text-decoration: none;
  font-weight: bold;
  color: #C9322B;
}

/*Ciencias computación*/
#cc{
  text-decoration: none;
  font-weight: bold;
  color: #2E9538;
}

/*Habilidades de comunicación*/
#hc{
  text-decoration: none;
  font-weight: bold;
  color: #1CC0CB;
}

/*Emprendimiento*/
#em{
  text-decoration: none;
  font-weight: bold;
  color: #ECAD34;
}
