/*Estilos para las paginas*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
body {
  background-image: url("/imagenes/unimayor-transparente.png");
  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0 150px;
  font-size: 15px;
  font-family: "Manrope", sans-serif;

}

/*elementos del encabezado*/
.encabezado {
  background-image: url("/imagenes/Header.png");
  background-size: cover;
  background-repeat: no repeat;
  height: 60px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 10000;
  justify-content: space-between;
  padding: 10px;
  top: 0;
  left: 0;
  align-items: center;
}
/*Estilos para la imagen del encabezado*/
.encabezado img {
  width: 4rem;
  height: auto;
  padding: 10px;
  margin-left: 10%;
}

.encabezado input {
  width: 45%;
  height: 50px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.626);
  text-align: center;
}

.encabezado input:focus {
  outline: none;
}

.encabezado .menus {
  width: 3rem;
}
.encabezado .menu-usuario {
  display: flex;
  padding: 20px;
  align-items: center;
}
.perfil-encabezado {
  position: relative;
  width: 200px;
  padding: 10px;
}
.perfil-encabezado img {
  display: block;
  width: 100%;
  height: auto;
}
.opciones {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 5px;
  -webkit-box-shadow: -9px 10px 18px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -9px 10px 18px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -9px 10px 18px -8px rgba(0, 0, 0, 0.75);
}
.perfil-encabezado:hover .opciones {
  display: block;
}
.opciones p,
.opciones a {
  font-weight: bold;
  margin: 3px;
  cursor: pointer;
  color: black;
  transition: background-color 0.3s;
  text-decoration: none;
  line-height: 30px;
}
.opciones a:visited {
  color: inherit;
}
.opciones p:hover,
.opciones a:hover {
  color: white;
  background-color: #0c467f;
}
/*elementos del contenedor*/
.contenedor {
  display: flex;
  padding: 10px;
  margin-top: 80px;
  justify-content: space-between;
}
.articulos{
  position: sticky;
  top: 90px;
}

.articulos{
  position: sticky;
  top: 90px;
}

/*box de "estudiante" del contenedor*/
.estudiante {
  background-color: #cacaca2f;
  border-radius: 30px;
  height: 40px;
  display: flex;
  align-items: center;
}
.estudiante img {
  height: 25px;
  float: left;
  margin-left: 30px;
}

/*Más activos*/
.estudiantes {
  margin-top: 10px;
  padding: 30px;
  border-color: #cacaca;
}
.articulo-estudiante p {
  color: #727272;
}
/*Chulito que aparece al lado de los más activos*/
/*Falta que se acomode bien, no pude jajajsjasjajaja*/
.check {
  display: inline-flex;
  height: 20px;
}
article {
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
}

.secciones {
  box-shadow: 1px 0 4px rgb(0, 0, 0, 0.2);
  border-radius: 10px;
}

.mas-activos {
  display: flex;
  padding: 10;
  align-items: center;
}
.modulo-aside{
  position: sticky;
  top: 90px;
}
.seccion-preguntas {
  box-shadow: 1px 0 4px rgb(0, 0, 0, 0.2);
  padding: 50px;
  align-items: center;
  text-align: center;
  width: 80%;
  margin: 10px;
  border-radius: 30px;
}

.pregunta {
  border: 1px solid rgb(105, 102, 102);
  padding: 10px;
  width: 100%;
  margin: 10px;
  border-radius: 35px;
  border-color: #cacaca;
  justify-content: center;
  max-width: 450px;
}

.submit-pregunta {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}
.imagenes-pregunta {
  padding-left: 50px;
  align-items: center;
  display: flex;
}

/*Publicaciones*/
.lista-posts {
  margin-top: 5%;
  border-color: #cacaca;
  color: #363636;
}

.pregunta-post {
  list-style-type: none;
  border: none;
  justify-content: space-around;
}

.contenedor-post {
  margin: 10px;
  border-color: #cacaca;
  width: 380px;
  padding: 10px;
  overflow: hidden;
  font-size: 12px;
}

.contenedor-post p {
  margin: 10px;
  max-width: 450px;
  overflow-wrap: break-word;
}

.contenedor-usuario {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
}

/*
 Aqui modifican la imagen como les parezca mejor
*/
.contenedor-usuario img {
  width: 15%;
}

.header {
  display: flex;
  margin-left: 15px;
  margin: 22px;
  align-items: center;
}

.usuario {
  margin-inline: 21px;
}

.lineas {
  position: absolute;
  right: 0px;
  background: none;
  border: none;
}
.titulo {
  position: absolute;
  top: 12%;
  left: 14%;
}
.footer {
  margin: 3%;
}
.boton-footer {
  position: absolute;
}
.materia {
  width: 23%;
  position: relative;
  border-radius: 30px;
  background-color: #ecad34;
  bottom: -21%;
  left: 74%;
}
.materia2 {
  width: 23%;
  position: relative;
  border-radius: 30px;
  background-color: #d61d1d;
  bottom: -21%;
  left: 74%;
}
.materia2 p {
  color: aliceblue;
}
.boton-footer button {
  background: none;
  border: none;
}

.busqueda {
  display: flex;
  /* padding-left: px; */
  justify-content: space-around;
}

.busqueda img {
  height: 50px;
}

.input-pregunta input {
  border: none;
  text-align: center;
}

.titulo-pregunta {
  font-size: 1.5rem;
  font-weight: bold;
}

.titulo-pregunta:focus {
  outline: none;
}

.titulo-pregunta::placeholder {
  font-size: 1.5rem;
  color: #cacaca;
}

.cuerpo-pregunta {
  border: none;
  resize: none;
  outline: none;
  width: 300px;
  background: none;
}

.cuerpo-pregunta:focus {
  outline: none;
}

/* .busqueda input {
  display: flex;
  width: 100%;
  border: none;
  font-size: 18px;
  margin-left: 10px;
  position: relative;
  background: none;
}
.busqueda input:focus {
  outline: none;
}

.busqueda input::placeholder {
  color: #cacaca;
  font-weight: bold;
  font-size: 1.5rem;
} */

.boton {
  border-radius: 10px;
  background-color: #7991db;
  color: white;
  border: none;
  width: 40%;
  height: 3rem;
  font-size: 20px;
  cursor: pointer;
}
.boton:hover {
  background-color: #5b6b9e;
  transition: 0.5s;
}

.modulos {
  position: relative;
  text-align: center;
  display: flexbox;
}

/*Imagen*/
.books {
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.books img {
  float: left;
  height: 60px;
}

/*Ciencias básicas*/
#cb {
  text-decoration: none;
  font-weight: bold;
  color: #c9322b;
}

/*Ciencias computación*/
#cc {
  text-decoration: none;
  font-weight: bold;
  color: #2e9538;
}

/*Habilidades de comunicación*/
#hc {
  text-decoration: none;
  font-weight: bold;
  color: #1cc0cb;
}

/*Emprendimiento*/
#em {
  text-decoration: none;
  font-weight: bold;
  color: #ecad34;
}

.contenedor-botones-post {
  justify-content: space-between;
  display: flex;
  font-size: 12px;
}

.contenedor-botones-post button {
  width: 20%;
}