.caja-comentarios{
    display: flex;
    border: none;
    background: #fff;
    border-radius: 20px;
    width: 30%;
    height: 400px;
    flex-direction: column;
    justify-content: space-between;   
}

.header-comentarios{
    justify-content: space-between;
    display: flex;
    margin-left: 34%;
    border: 5px;
    align-items: center;
    
}
.header-comentarios button{
    border: none;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    background-color:#D8DADF ;
    cursor: pointer;
}
.header-comentarios button:hover{
    background-color: #a4a4a4b8 ;
}
.lista-respuestas p{
    font-size: 14px;
}
.contenedor-comentarios .lista-respuestas h1 {
    display: flex;
}
